body {
    font-family: "Archivo",  serif;
    font-weight: 600;
    font-size: 16pt;
    font-style: medium;
    font-optical-sizing: auto;
    background-color:rgba(0,0,100,.2);
    
}

.card {
    border: 1px solid rgb(30,30,30,.1);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
    padding: 10px;
    margin-bottom: 10px;
}

#paige-site-title {
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: ExtraBold;
  font-variation-settings:
    "wdth" 100;
  color:#4E01E0;
}

a, .nav-link {
    font-family: "Archivo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: Regular;
    font-variation-settings:
    "wdth" 100;
    color:#4E01E0;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.archivo-<uniquifier> {
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
